$color-primary: #5ec576;
$color-secondary: #ffcb03;
$color-tertiary: #ff585f;
$color-primary-darker: #4bbb7d;
$color-secondary-darker: #ffbb00;
$color-tertiary-darker: #fd424b;
$color-primary-opacity: #5ec5763a;
$color-secondary-opacity: #ffcd0331;
$color-tertiary-opacity: #ff58602d;
$gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
$gradient-primary-v2: linear-gradient(to top left, #0a6375, #08778d);
// $gradient-primary-v2: linear-gradient(to top left, #16876b, #39b385);
// $gradient-primary-v2: linear-gradient(to top left, #16876b, #1eab88);
$gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
$gradient-tertiary: linear-gradient(to top left, #092c8d, #2e7ff8c2);

$nav-shadow: #058666;
$newColor: #111827;
$newPrimaryColor: #08778d;
$newSecondaryColor: #004289;
$color-white: #fff;
$color-black: #111;
$color-black-light: #444;
$color-white-dark: #aaa;
