@import "reset";
@import "variables";
// Navbar
@import "navbar";
// Slider
@import "slider";
// Footer
@import "footer";
// Fonts
@import "fonts";

html {
  font-family: "Source Sans Pro", sans-serif;
}

// Home
// Hero
.hero {
  padding: 3rem 1.5rem;
  width: 100%;
  padding-top: 10rem;
  position: relative;

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: -12.7%;
    left: 0;
    height: 90%;
    width: 100%;
    z-index: -1;
    transform: skewY(-5deg);
    background: $gradient-primary-v2;
  }

  .hero-container {
    width: 100%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: "one" "two";
    // Redeclare
    grid-template-areas: "one two" "one two";
  }

  .hero--section-1 {
    grid-area: one;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      font-family: "Pacifico", cursive;
      font-size: 6rem;
      color: $color-white;
      letter-spacing: 0.2rem;
      -webkit-text-stroke: 0.2px $color-black;
      line-height: 6rem;
      margin-bottom: 4rem;
      max-width: 50rem;
    }

    .love-img {
      max-width: 55rem;
      border: 2rem solid rgba(255, 255, 255, 0.5);
      border-radius: 2rem;
    }
  }

  .hero--section-2 {
    grid-area: two;
    text-align: center;

    img {
      margin-top: 5rem;
      width: 100%;
      max-width: 450px;
    }
  }
}

// Tutorials
.tuto {
  padding: 3rem 1.5rem;
  width: 100%;

  .tuto-container {
    width: 100%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: "one" "two";
    // Redeclare
    grid-template-areas: "one two" "one two";

    .tuto--section-1 {
      grid-area: one;
      text-align: center;

      img {
        width: 100%;
        max-width: 450px;
      }
    }
    .tuto--section-2 {
      grid-area: two;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .card {
        border: none;
        background: none;
        padding: 1rem;
        margin: 1.5rem 0;

        img {
          box-shadow: 0 5px 5px $color-white-dark;
          border-radius: 1rem;
        }
      }
    }
  }
}

// Getting Started
.get-started {
  font-family: "Source Sans Pro", sans-serif;
  .container {
    a {
      display: none;
    }
  }
}
// Story
.story {
  padding: 3rem 1.5rem;
  width: 100%;
  margin-bottom: 5rem;

  .story-container {
    width: 100%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: "one" "two";
    // Redeclare
    grid-template-areas: "one two" "one two";

    .story--section-1 {
      grid-area: one;
      text-align: center;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .btn-story {
        background: $gradient-primary-v2;
        border: none;
      }
    }
    .story--section-2 {
      grid-area: two;
      text-align: center;

      img {
        width: 100%;
        max-width: 50rem;
        margin: 3rem auto;
      }
    }
  }
}

// About Page
.about {
  width: 100%;
  // Career first
  .about-top {
    padding-top: 10rem;
    background: $gradient-primary-v2;
    position: relative;

    img {
      width: 100%;
    }

    .container {
      text-align: center;
      padding: 10rem 0;

      h1 {
        color: $color-white;
        font-size: 7rem;
        font-weight: bold;
      }
    }
  }

  .about-container {
    width: 100%;
    // Career Second
    margin-top: 2rem;
    padding: 1rem 3rem;
    display: grid;
    gap: 8rem;
    grid-auto-flow: 1fr;
    grid-template-areas: "one" "two";

    // Redefine
    grid-template-areas: "one two" "one two";

    .about--section-1 {
      grid-area: one;

      h2 {
        font-size: 5rem;
        font-weight: bold;
        margin-bottom: 4rem;
      }

      p {
        font-size: 2rem;
        color: $color-black-light;
        margin: 2rem 0;
        letter-spacing: 0.1rem;
        max-width: 60rem;
      }
    }
    .about--section-2 {
      grid-area: two;
      display: flex;

      img {
        width: 100%;
        max-width: 60rem;
        object-fit: cover;
        border-radius: 0.5rem 5rem 5rem 5rem;
      }
    }
  }

  .about-bottom {
    margin-top: 10rem;

    .value-heading {
      max-width: 50rem;
      font-size: 3rem;
      font-weight: bold;
      margin: 0 auto;
    }

    .about-values {
      p {
        margin: 5rem 2rem;
        display: flex;
        position: relative;

        .value-circle {
          display: inline-block;
          // align-self: center;
          font-size: 4rem;
          text-align: center;
          color: $gradient-primary-v2;
        }
      }
    }
  }
}

// Contact Page
.contact {
  width: 100%;
  // Career first
  .contact-top {
    padding-top: 10rem;
    background: $gradient-primary-v2;
    position: relative;

    img {
      width: 100%;
    }

    .container {
      text-align: center;
      padding: 10rem 0;

      h1 {
        color: $color-white;
        font-size: 7rem;
        font-weight: bold;
      }
    }
  }

  .contact-container {
    width: 100%;
    // Career Second
    margin-top: 2rem;
    padding: 1rem 3rem;
    display: grid;
    gap: 8rem;
    grid-auto-flow: 1fr;
    grid-template-areas: "one" "two";

    // Redefine
    grid-template-areas: "one two" "one two";

    .contact--section-1 {
      grid-area: one;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-size: 5rem;
        font-weight: bold;
        margin-bottom: 4rem;
      }

      p {
        font-size: 2rem;
        color: $color-black-light;
        margin: 1rem 0;
        letter-spacing: 0.1rem;
        max-width: 60rem;
      }

      form {
        input {
          max-width: 60rem;
          padding-top: 3rem;
          padding-bottom: 2rem;
        }
        textarea {
          max-width: 60rem;
          padding-top: 2rem;
          padding-bottom: 2rem;
        }
      }
    }
    .contact--section-2 {
      grid-area: two;
      display: flex;

      img {
        width: 100%;
        max-width: 60rem;
        object-fit: cover;
        border-radius: 0.5rem 5rem 5rem 5rem;
      }
    }
  }

  .contact-bottom {
    margin-top: 10rem;

    .value-heading {
      max-width: 50rem;
      margin: 0 auto;
    }

    .contact-values {
      p {
        margin: 5rem 2rem;
        .value-circle {
          display: inline-block;
          font-size: 3rem;
          background: $gradient-primary-v2;
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          text-align: center;
          line-height: 6rem;
          color: $color-white;
        }
      }
    }
  }
}

// Story Page
.our-story {
  width: 100%;
  // Career first
  .our-story-top {
    padding-top: 10rem;
    background: $gradient-primary-v2;
    position: relative;

    img {
      width: 100%;
    }

    .container {
      text-align: center;
      padding: 10rem 0;

      h1 {
        color: $color-white;
        font-size: 7rem;
        font-weight: bold;
      }

      p {
        color: $color-white;
        font-size: 2rem;
        max-width: 50rem;
        margin: 0 auto;
        margin-top: 4rem;
        padding: 0 1.5rem;
      }
    }
  }

  .our-story-container {
    width: 100%;
    // Career Second
    margin-top: 2rem;
    padding: 1rem 3rem;
    display: grid;
    gap: 8rem;
    grid-auto-flow: 1fr;
    grid-template-areas: "one" "two";

    // Redefine
    grid-template-areas: "one two" "one two";

    .our-story--section-1 {
      grid-area: one;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      h2 {
        font-size: 5rem;
        font-weight: bold;
        margin-bottom: 4rem;
      }

      p {
        font-size: 2rem;
        color: $color-black-light;
        margin: 2rem 0;
        letter-spacing: 0.1rem;
        max-width: 60rem;
      }
    }
    .our-story--section-2 {
      grid-area: two;
      // display: flex;

      img {
        margin: 0 auto;
        width: 100%;
        max-width: 40rem;
        object-fit: cover;
        border-radius: 0.5rem 5rem 5rem 5rem;
      }
    }
  }

  .our-story-middle {
    margin-top: 10rem;

    .value-heading {
      max-width: 80rem;
      margin: 0 auto;
    }

    .our-story-values {
      p {
        margin: 5rem 2rem;
        .value-circle {
          display: inline-block;
          font-size: 3rem;
          background: $gradient-primary-v2;
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          text-align: center;
          line-height: 6rem;
          color: $color-white;
        }
      }
    }
  }
}

// Media Queries
@media (max-width: 50em) {
  // Navigation
  .nav {
    .container {
      .logo {
        img {
          width: 9rem;
        }
      }
      .toggle {
        display: inline-block;
      }

      .top-menu {
        display: none;
      }
    }
  }

  // Hero
  .hero {
    .hero-container {
      grid-template-areas: "one" "two";

      .love-img {
        display: none;
      }

      .title {
        font-size: 4rem;
        line-height: 4rem;
      }
    }
  }

  // Tutorials
  .tuto {
    .tuto-container {
      grid-template-areas: "one" "two";
    }
  }

  // Slider
  .slider {
    .slider-container {
      h1 {
        font-size: 2.5rem;
        // color: $color-white;
      }
    }

    .slider-article-card {
      .section-center {
        height: 41rem;
        max-height: 50rem;
        max-width: 80rem;

        article {
          .person-img {
            width: 9rem;
            height: 9rem;
            margin: 2rem auto;
          }

          .slider--rating {
            max-width: 13rem;
            margin: 1rem auto;
          }
        }

        .slider-btn {
          width: 4rem;
          height: 4rem;
          font-size: 1.5rem;
        }
      }
    }
  }

  // Story
  .story {
    .story-container {
      grid-template-areas: "one" "two";
    }
  }

  // Getting Started
  .get-started {
    .container {
      a {
        display: inline-block;
      }
    }
  }

  // About
  .about {
    .about-top {
      padding-top: 10rem;

      .container {
        padding: 3rem 0;

        h1 {
          font-size: 2.5rem;
        }
      }
    }

    .about-container {
      grid-template-areas: "two" "one";

      .about--section-1 {
        grid-area: one;

        h2 {
          font-size: 3rem;
          margin-bottom: 2rem;
        }

        p {
          font-size: 1.5rem;
        }
      }

      .about--section-2 {
        img {
          border-radius: 1.5rem;
          margin-bottom: -1rem;
        }
      }
    }
  }

  // Contact
  .contact {
    .contact-top {
      padding-top: 10rem;

      .container {
        padding: 3rem 0;

        h1 {
          font-size: 2.5rem;
        }
      }
    }

    .contact-container {
      grid-template-areas: "one" "two";

      .contact--section-1 {
        grid-area: one;

        h2 {
          font-size: 3rem;
          margin-bottom: 2rem;
        }

        p {
          font-size: 1.5rem;
        }
      }
    }
  }

  // Our Story
  .our-story {
    .our-story-top {
      padding-top: 10rem;

      .container {
        padding: 3rem 0;

        h1 {
          font-size: 2.5rem;
        }

        p {
          font-size: 1.5rem;
        }
      }
    }

    .our-story-container {
      grid-template-areas: "two" "one";

      .our-story--section-1 {
        grid-area: one;

        h5 {
          margin: 0;
          padding: 0;
        }

        h2 {
          font-size: 3rem;
          margin-bottom: 2rem;
        }

        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}
