@import "reset";
@import "variables";
// Navbar
@import "navbar";
// Slider
@import "slider";
// Footer
@import "footer";

// Home
// Hero
.hero {
  padding: 3rem 1.5rem;
  width: 100%;
  padding-top: 10rem;
  position: relative;

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: -12.7%;
    left: 0;
    height: 90%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: skewY(-5deg);
    background: $gradient-primary-v2;
  }

  .hero-container {
    width: 100%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: "one" "two";
    // Redeclare
    grid-template-areas: "one two" "one two";
  }

  .hero--section-1 {
    grid-area: one;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      font-size: 6rem;
      font-weight: bold;
      color: $color-black-light;
      line-height: 6rem;
      margin-bottom: 4rem;
      max-width: 50rem;
    }

    .love-img {
      max-width: 55rem;
      border: 2rem solid rgba(255, 255, 255, 0.5);
      border-radius: 2rem;
    }
  }

  .hero--section-2 {
    grid-area: two;
    text-align: center;

    img {
      width: 100%;
      max-width: 450px;
    }
  }
}

// Tutorials
.tuto {
  padding: 3rem 1.5rem;
  width: 100%;

  .tuto-container {
    width: 100%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: "one" "two";
    // Redeclare
    grid-template-areas: "one two" "one two";

    .tuto--section-1 {
      grid-area: one;
      text-align: center;

      img {
        width: 100%;
        max-width: 450px;
      }
    }
    .tuto--section-2 {
      grid-area: two;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .card {
        border: none;
        background: none;
        padding: 1rem;
        margin: 1.5rem 0;

        img {
          box-shadow: 0 5px 5px $color-white-dark;
          border-radius: 1rem;
        }
      }
    }
  }
}

// Story
.story {
  padding: 3rem 1.5rem;
  width: 100%;
  margin-bottom: 5rem;

  .story-container {
    width: 100%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: "one" "two";
    // Redeclare
    grid-template-areas: "one two" "one two";

    .story--section-1 {
      grid-area: one;
      text-align: center;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .story--section-2 {
      grid-area: two;
      text-align: center;

      img {
        width: 100%;
        max-width: 50rem;
        margin: 3rem auto;
      }
    }
  }
}

// Media Queries
@media (max-width: 50em) {
  .nav {
    .container {
      .toggle {
        display: inline-block;
      }

      .top-menu {
        display: none;
      }
    }
  }

  .hero {
    .hero-container {
      grid-template-areas: "one" "two";

      .love-img {
        display: none;
      }

      .title {
        font-size: 4rem;
        line-height: 4rem;
      }
    }
  }

  .tuto {
    .tuto-container {
      grid-template-areas: "one" "two";
    }
  }

  .story {
    .story-container {
      grid-template-areas: "one" "two";
    }
  }
}
